body {
  background: var(--secondary-color);
}

.page-header {
  height: 54px;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--primary-color);

  border: 1px solid transparent;

  border-bottom-color: var(--border-color);

  position: fixed;

  .nav-container {
    height: 100%;
    width: 100%;
    max-width: 975px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigation ul {
      list-style: none;

      display: flex;
      column-gap: 12px;

      li {
        svg,
        .user-configuration {
          height: 22px;
          width: 22px;

          cursor: pointer;
        }

        .user-configuration {
          border-radius: 50%;

          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  .search-field {
    height: 28px;
    width: 215px;

    background: var(--secondary-color);

    input {
      padding: 7px;

      height: 100%;
      width: 100%;

      background: transparent;
      border: none;

      &::placeholder {
        color: var(--search-text-color);
        font-weight: 300;
        text-align: center;
      }

      &:focus-within {
        outline: none;

        &::placeholder {
          text-align: left;
        }
      }
    }
  }
}

.feed-container {
  width: 100%;

  max-width: 975px;

  padding-top: 74px;

  margin: 0 auto;

  display: flex;

  .feed {
    height: 100vh;
    width: 100%;

    .stories-container {
      height: 118px;
      width: 100%;
      max-width: 614px;

      background: var(--primary-color);

      border: 1px solid var(--border-color);

      padding: 16px 0;

      .stories-list {
        height: 100%;
        width: 100%;

        display: flex;

        column-gap: 12px;

        .story {
          height: 112px;
          width: 80px;

          display: flex;
          align-items: center;
          flex-direction: column;

          .story-user {
            height: 66px;
            width: 66px;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
              height: 56px;
              width: 56px;

              border-radius: 50%;
            }
          }

          span {
            font-weight: 300;
            font-size: 12px;
          }
        }
      }
    }


  }

  .recommended {
    position: fixed;
    height: calc(100vh - 54px);
    width: 293px;
    right: 0;
  }
}
