.story {
  height: 112px;
  width: 80px;

  display: flex;
  align-items: center;
  flex-direction: column;

  cursor: pointer;

  &.has {
    .story-user {
      background: linear-gradient(100deg, #ff008e 0%, #ffcd1e 100%);

      .story-border {
        height: 60px;
        width: 60px;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .story-user {
    height: 66px;
    width: 66px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    border-radius: 50%;

    background: #dbdbdb;

    .story-border {
      background: #fff;

      border-radius: 50%;

      height: 62px;
      width: 62px;

      padding: 5px;

      img {
        height: 52px;
        width: 52px;

        border-radius: 50%;
      }
    }
  }

  span {
    font-weight: 300;
    font-size: 12px;

    &.bold {
      color: #262626;
      font-weight: 400 !important;
    }
  }
}
