@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #fafafa;

  --search-text-color: #8e8e8e;
  
  --border-color: #dbdbdb;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}
