.suggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding: 4px 0;

  .user-suggestion {
    display: flex;
    align-items: center;

    > img {
      height: 32px;
      width: 32px;

      border-radius: 50%;

      cursor: pointer;
    }

    .user {
      margin: 0;
      margin-left: 8px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      > strong {
        font-size: 14px;
        cursor: pointer;

        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }

      > span {
        margin-top: 1px;
        font-size: 12px;
        color: var(--search-text-color);
      }
    }
  }

  .user-follow {
    background: transparent;
    border: none;

    cursor: pointer;

    font-size: 12px;

    color: var(--button-color);

    font-weight: 500;
  }
}